<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gcsj4supermarket.sys.mapper.GoodsMapper">

    <update id="updateGoods" parameterType="com.example.gcsj4supermarket.sys.entity.Goods">
        UPDATE goods
        <set>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsPrice != null">goods_price = #{goodsPrice},</if>
            <if test="goodsPhoto != null and goodsPhoto != ''">goods_photo = #{goodsPhoto},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="goodsStatus != null">goods_status = #{goodsStatus},</if>
            <if test="goodsType != null and goodsType != ''">goods_type= #{goodsType}</if>
            <if test="goodsDesc != null and goodsDesc != ''">goods_desc = #{goodsDesc}</if>
        </set>
        WHERE goods_id = #{goodsId}
    </update>

</mapper>
